OPENAI_API_KEY=sk-tu-key-aqui
ADMIN_USER=ejemplo0123
ADMIN_PASS=password
JWT_SECRET=cambia_esto_por_algo_seguro
JWT_EXPIRES_IN=7d
PORT=3105
BASE_URL=https://tu.dominio

# MariaDB
DB_NAME=ats_db
DB_HOST=localhost
DB_PORT=3306
USER_DB=user_db
USER_PASSWORD_DB=password_db